.motor-image{
    width: 100%;
    max-height: 25rem;
    
}

.fam1-size{
    width: 5rem;
    padding: 3rem;
    margin: 2rem;
    position: relative;
    left: 0;
    bottom: 0;
}
}
.container {
    width: 50%;
    height: 50%;
    margin: ;
    padding:px;
}
.one {
    width: 25%;
    height: 10rem;
    float: left;
    padding: 10rem;
    
}
.two {
    margin-left: 25rem;
    height: 30rem;
    padding: 10rem;
    width: 20rem;
  
    
}
.text-align-cen{
    left: 10px;
    top: 10px;
    position: relative;
    text-align: center
    
}
.text-align-right{
    left: 7rem;
    
}
.vid-cen{
    margin-left: auto;
    margin-right: auto;
    display: block
}
.video-text-cen{
    text-align: center;
}
.parker-right{
    max-height: 15rem;
    max-width: 15rem;
    margin-left: 50rem;
}
.aj-left{
    height: 15rem;
    width: 15rem;
}
.aj-text-right{
    text-align: right;
}
.aj-div{
        display:flex;
        align-items:center;
}
